{% macro render_radio_field(field) %}
    {{ field.label(class="form-label") }}

    <div class="form-check">
        {% for choice in field.choices %}
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="{{ field.name }}" value="{{ choice }}">
                    {{ choice }}
                </label>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_checkbox(field) %}
    <div class="form-check">
            <div class="form-check">
                <label class="form-check-label">
                    {{ field(class="form-check-input") }}
                    {{ field.label.text }}
                </label>
            </div>
    </div>
{% endmacro %}

{% macro render_field(field) %}
    <div class="form-group mt-4">
        {% if field.type == "RadioField" %}
            {{ render_radio_field(field) }}
        {% elif field.type == "BooleanField" %}
            {{ render_checkbox(field) }}
        {% else %}
            {{ field.label(class="form-label") }}
            {{ field(class="form-control", **kwargs)|safe }}
        {% endif %}

        {% if field.description %}
            <small class="form-text text-muted" id="{{ field.name }}-help">{{ field.description }}</small>
        {% endif %}

        {% if field.errors %}
            <ul class="errors alert alert-danger">
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endmacro %}
