{% from "_forms.html" import render_field %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.0.1/dist/yeti/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="p-5 bg-white text-center">
    <h1 class="text-center">Registration Website</h1>
    <form method="POST" action="/">
        <br/>{{ form.csrf_token }}
        <br/>{{ render_field(form.chapter) }}
<br/>
        <br/>{{ render_field(form.first_name) }}
        <br/>{{ render_field(form.middle_name) }}
        <br/>{{ render_field(form.last_name) }}
<br/>
        <br/>{{ render_field(form.gender) }}
        <br/>{{ render_field(form.date_of_birth) }}
        <br/>{{ render_field(form.contact_number) }}
        <br/>{{ render_field(form.home_address) }}
        <br/>{{ render_field(form.pin_code) }}
<br/>
        <br/>{{ render_field(form.country) }}
        <br/>{{ render_field(form.state) }}
        <br/>{{ render_field(form.city) }}
        <br/>{{ render_field(form.email) }}
        <br/>{{ render_field(form.religion) }}
        <br/>{{ render_field(form.caste) }}
        <br/>{{ render_field(form.reservation) }}
<br/>
        <br/>{{ render_field(form.has_disability) }}
        <br/>{{ render_field(form.disability) }}
<br/>
        <br/>{{ render_field(form.marital_status) }}
<br/>
        <br/>{{ render_field(form.identification_type) }}
        <br/>{{ render_field(form.aadhar_card_number) }}
<br/>
        <br/>{{ render_field(form.applied_before) }}
<br/>
        <br/>{{ render_field(form.school) }}
        <br/>{{ render_field(form.additional_school) }}
        <br/>{{ render_field(form.stream) }}
        <br/>{{ render_field(form.vocational_course_details) }}
        <br/>{{ render_field(form.school_10th) }}
        <br/>{{ render_field(form.school_address) }}
<br/>
<br/>
        <br/>{{ render_field(form.recent_10th_12th) }}
<br/>
        <br/>{{ render_field(form.matric_pct) }}
        <br/>{{ render_field(form.distinction_subjects_10th) }}
        <br/>{{ render_field(form.board_10th) }}
        <br/>{{ render_field(form.passing_year_10th) }}
        <br/>{{ render_field(form.current_class) }}
<br/>
        <br/>{{ render_field(form.excellence_field) }}
        <br/>{{ render_field(form.hobbies) }}
<br/>
        <br/>{{ render_field(form.fathers_name) }}
        <br/>{{ render_field(form.fathers_age) }}
        <br/>{{ render_field(form.fathers_gender) }}
        <br/>{{ render_field(form.fathers_qualification) }}
        <br/>{{ render_field(form.fathers_marital_status) }}
        <br/>{{ render_field(form.fathers_occupation) }}
        <br/>{{ render_field(form.fathers_monthly_income) }}
<br/>
        <br/>{{ render_field(form.mothers_name) }}
        <br/>{{ render_field(form.mothers_age) }}
        <br/>{{ render_field(form.mothers_gender) }}
        <br/>{{ render_field(form.mothers_qualification) }}
        <br/>{{ render_field(form.mothers_marital_status) }}
        <br/>{{ render_field(form.mothers_occupation) }}
        <br/>{{ render_field(form.mothers_monthly_income) }}
<br/>
        <br/>{{ render_field(form.has_single_parents) }}
        <br/>{{ render_field(form.who_is_single_parent) }}
        <br/>{{ render_field(form.guardian_details) }}
<br/>
        <br/>{{ render_field(form.has_sibling) }}
        <br/>{{ render_field(form.sibling_details) }}
<br/>
        <br/>{{ render_field(form.annual_family_income) }}
<br/>
        <br/>{{ render_field(form.sibling_beneficiary) }}

        <div class="form-group mt-4 text-center">
            <button class="btn btn-lg btn-success text-center" type="submit">
                Submit
            </button>
        </div>
    </form>
    </div>
</div>
</body>
</html>
