<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form method="POST" action="/">
    {{ form.csrf_token }}
    {{ form.chapter.label }} {{ form.chapter() }}

    {{ form.first_name.label }} {{ form.first_name() }}
    {{ form.middle_name.label }} {{ form.middle_name() }}
    {{ form.last_name.label }} {{ form.last_name() }}

    {{ form.gender.label }} {{ form.gender() }}
    {{ form.date_of_birth.label }} {{ form.date_of_birth() }}
    {{ form.contact_number.label }} {{ form.contact_number() }}

    {{ form.home_address.label }} {{ form.home_address() }}
    {{ form.country.label }} {{ form.country() }}
    {{ form.state.label }} {{ form.state() }}
    {{ form.city.label }} {{ form.city() }}

    {{ form.email.label }} {{ form.email() }}
    {{ form.religion.label }} {{ form.religion() }}
    {{ form.caste.label }} {{ form.caste() }}
    <input type="submit" value="Submit">
</form>
</body>
</html>
